hospital:
  api:
    host: http://127.0.0.1:8000

server:
  port: 8080
  servlet:
    context-path: /

  tomcat:
    max-http-form-post-size: 20971520

spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false  # 날짜를 타임스탬프 형식이 아닌 ISO 8601 형식으로 직렬화

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

  profiles:
    active: prod

  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 10MB
      max-request-size: 100MB

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  web:
    resources:
      static-locations:
        - classpath:/static/
        - classpath:/public/
        - classpath:/templates/

logging:
  level:
    org.hibernate.type: trace
    org.springframework.security: DEBUG
    com.app: DEBUG
    com.app.global.interceptor: DEBUG
    com.app.global.jwt.service: DEBUG

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

token:
  secret: ENC(NhiNrYxqLjQazS5r7fsuWewxj+0tyjzDqBXaYRGNJlBz9uC4ANMy4KgSnLPUQz3tspY3DRM+JOHJej3pt9rv889oNml29Adpj5tyy+krjcFNneThcIK4FMTus7CdE4AzcAZGzf2erd8=) # 임의의 문자열, 단 Base64 88문자 이상이어야
  access-token-expiration-time: 900000 # 15분 1000(ms) x 60(s) x 15(m)
  refresh-token-expiration-time: 1209600000 # 2주 1000(ms) x 60 (s) x 60(m) x 24(h) x 14(d)

# 암호화해서 가져가고 싶은 내용 넣기
jasypt:
  password: ${PASSWORD}

cloud:
  aws:
    credentials:
      accessKey: AKIA47GB7YGCHNK5IMEM
      secretKey: ENC(/GXm6N9N4I4tA4/McUHWeexBUVel2LzZjKc5ahr7cavstjxEZl8pWCxYhn502j16z5dnYNcbB6o=)
    region:
      static: ap-southeast-2 # AWS 리전

# 토스 결제 연동
payment:
  toss:
    test_client_api_key: test_ck_DpexMgkW36ya40vyX0l48GbR5ozO
    test_secret_api_key: test_sk_GePWvyJnrKQdQ5Ey5OQ63gLzN97E
    success_url : "http://localhost:8080/api/v1/payments/toss/success"
    fail_url : "http://localhost:8080/api/v1/payments/toss/fail"