<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://js.tosspayments.com/v1"></script>
</head>
<body>
<section>
  <!-- ... -->
  <span>총 주문금액</span>
  <span>15,000 원</span>
  <button id="payment-button">15,000원 결제하기</button>
</section>
<script>
  var clientKey = 'test_ck_DpexMgkW36ya40vyX0l48GbR5ozO'
  var tossPayments = TossPayments(clientKey)

  var button = document.getElementById('payment-button') // 결제하기 버튼

  button.addEventListener('click', function () {
    tossPayments.requestPayment('카드', {
      amount: 15000,
      orderId: 'zUo_E9x6JfRS46bqXbvLh',
      orderName: '토스 티셔츠 외 2건',
      customerName: '박토스',
      customerEmail: 'test@example.com',
      successUrl: 'http://localhost:8080/success',
      failUrl: 'http://localhost:8080/fail',
    })
  })
</script>
</body>
</html>